<?xml version="1.0" encoding="utf-8"?>
<RelativeLayout xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    android:orientation="vertical"
    android:layout_width="match_parent"
    android:layout_height="match_parent">
    <LinearLayout
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:gravity="center_horizontal"
        android:orientation="vertical">
        <LinearLayout
            android:id="@+id/act_home_blue_container"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:background="@color/blue_sky"
            android:transitionName="blue_container"
            android:gravity="center_horizontal"
            android:orientation="vertical"
            android:minHeight="400dp">
            <ImageView
                android:id="@+id/act_home_iv_logo"
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                android:layout_marginTop="60dp"
                android:transitionName="logo"
                android:gravity="center_horizontal"
                android:src="@drawable/dispatch_logo" />
            <LinearLayout
                android:id="@+id/act_home_white_container"
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:minHeight="80dp"
                android:layout_marginTop="30dp"
                android:layout_marginLeft="24dp"
                android:layout_marginRight="24dp"
                android:transitionName="white_container"
                android:background="@color/white"
                android:orientation="vertical">
                <TextView
                    android:layout_width="wrap_content"
                    android:layout_height="wrap_content"
                    android:text="LET'S GET YOU FIXED UP"
                    android:padding="8dp"
                    android:textColor="@color/material_grey_300" />
                <TextView
                    android:id="@+id/act_home_tv_whats_wrong"
                    android:layout_width="wrap_content"
                    android:layout_height="wrap_content"
                    android:text="What's Wrong?"
                    android:textSize="20sp"
                    android:layout_marginLeft="8dp"
                    android:textColor="@color/colorPrimary" />
            </LinearLayout>
            <TextView
                android:layout_width="match_parent"
                android:layout_height="wrap_content"
                android:layout_marginLeft="24dp"
                android:layout_marginRight="24dp"
                android:gravity="center_horizontal"
                android:textSize="12sp"
                android:layout_marginTop="10dp"
                android:text="Requesting care is always free. We only bill you or your insurance once we have treated your condition."
                android:textColor="@color/material_grey_300" />
        </LinearLayout>
        <TextView
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:text="LEARN ABOUT DISPATCH"
            android:layout_marginTop="10dp"
            android:textColor="@color/material_grey_300" />
    </LinearLayout>
    <View
        android:layout_width="match_parent"
        android:layout_height="1dp"
        android:background="#666"
        android:layout_above="@+id/bottom_navigation" />
    <android.support.design.widget.BottomNavigationView
        android:id="@+id/bottom_navigation"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:layout_alignParentBottom="true"
        app:itemBackground="@color/gray"
        app:itemIconTint="@color/white"
        app:itemTextColor="@color/colorPrimary"
        app:menu="@menu/menu" />
</RelativeLayout>