<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:orientation="vertical"
    android:layout_width="match_parent"
    android:layout_height="match_parent">
    <LinearLayout
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:background="@color/blue_sky"
        android:transitionName="blue_container"
        android:gravity="center_horizontal"
        android:orientation="vertical"
        android:minHeight="150dp">
        <android.support.v7.widget.Toolbar
            android:id="@+id/act_request_care_tb_title"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:theme="@style/AppTheme.Toolbar"
            android:background="@color/blue_sky" />
        <ImageView
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:layout_marginTop="20dp"
            android:transitionName="logo"
            android:gravity="center_horizontal"
            android:src="@drawable/dispatch_logo" />
    </LinearLayout>
    <LinearLayout
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:minHeight="200dp"
        android:layout_marginTop="-30dp"
        android:layout_marginLeft="24dp"
        android:layout_marginRight="24dp"
        android:transitionName="white_container"
        android:background="@color/white"
        android:orientation="vertical" />
    <Button
        android:layout_width="match_parent"
        android:layout_height="60dp"
        android:layout_marginLeft="24dp"
        android:layout_marginRight="24dp"
        android:text="Request Care" />
</LinearLayout>